@font-face {
    font-family: 'karnel';
    src: url('../fonts/KERNEL1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black url("../img/background.png") no-repeat center/cover;
    overflow-x: hidden;
}

.wrapper {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    color: #6badad;
    text-shadow: 2px 2px #460711;
    font-weight: bold;
    font-family: 'karnel', sans-serif;
}

.background {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-page {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.main-header {
    font-size: 2rem;
    text-align: center;
}

.main-header span {
    font-size: 5rem;
}

.menu {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu li {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.menu li:first-of-type {
    margin-left: 0;
}

.menu a {
    color: #6badad;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffffff;
}

/* subpages */
.header {
    padding: 3rem 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.header .main-header {
    margin: 0;
    font-size: 3.5rem;
}

.signup-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.signup-form-wrapper {
    width: 100%;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.second-header {
    font-size: 2rem;
}

.signup-form-wrapper input {
    margin: 0.2rem 0 1rem;
    padding: 0 0.5rem;
    border: 1px solid #460711;
    border-radius: 15px;
}

.signup-btn {
    margin-top: 1rem;
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    background: #002938;
    border: 2px solid #460711;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.signup-btn:hover {
    background: #6badad;
}

/* animations */
@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
